# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
.idea
pubspec.lock
test/*.png
test/*.json
test/*.ilp
example/*.png
example/*.json